@model PersonManager.Shoe

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Shoe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IShoe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IShoe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDPerson)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDPerson)
        </dd>

        @foreach (var uploadedFile in Model.UploadedFiles)
        {
            <dt>
                <strong>@uploadedFile.Name</strong>
            </dt>
            <dd style="margin-top:10px">
                <img src="~/File?id=@uploadedFile.IDUploadedFile" alt="picture" width="400"/>
            </dd>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IShoe }) |
    @Html.ActionLink("Back to List", "Index", new { id = Model.IShoe })
</p>
